/*GENERIEKE STYLES*/

@font-face {
	font-family: "Nexa Regular";
	src: url("../fonts/NexaRegular.ttf")
}

@font-face {
	font-family: "Nexa Bold";
	src: url("../fonts/NexaBold.ttf")
}

html {
	height: 100%;
}

body {
	background-image: url("../images/achtergrond.jpg");
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	font-family: "Nexa Bold", helvetica, sans-serif;
	margin: 0;
	min-height: 100%;
	transition: all 1s;
}

h1 {
	color: white;
	font-size: 2em;
	text-align: center;
}

h2 {
	color: #00d66c;
	font-size: 2.5em;
	margin: 0;
	padding: 0.8em 0em 0.6em 0.5em;
}

h3 {
	color: #ff3268;
	font-size: 1.4em;
	margin: .55em 0 .5em;
	padding-left: 0.5em;
}

p {
	color: #202020;
	font-family: "Nexa Regular", helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
}

a {
	color: #969696;
	font-family: "Nexa Regular", helvetica, sans-serif;
	font-size: 1.2em;
	text-decoration: none;
	transition: all .3s;
}

a:hover {
	color: #2800a0;
}

button {
	transition: all .25s;
}

article {
	background-color: white;
	border-radius: 1em;
	flex-shrink: 0;
	height: 19em;
	margin: 0 1.5em;
	position: relative;
	width: 18em;
}

article > img {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	height: 11.5em;
}

img {
	display: inline-block;
	width: 100%;
}

ul {
	background-color: #00d66c;
	list-style: none;
	margin: 0;
}

/*HEADER*/

/*witte deel*/

header div {
	background-color: white;
	display: flex;
}

header img {
	height: 1.9em;
	padding: 0.8em 1em 0.4em 1em;
	width: 2em;
}

header img:first-child {
	height: 55%;
	width: 10em;
}

header a:nth-of-type(1) {
	margin-right: auto;
}

/* titels alleen bij breeder display*/

header div h2 {
	display: none;
}

/*groene deel*/

nav a {
	color: white;
	font-family: 'Nexa Regular', helvetica, sans-serif;
	font-size: 1.1em;
}

nav > ul {
	display: flex;
	justify-content: space-around;
	padding: 0.8em 0;
}

nav a:hover,
nav a:active {
	color: #2800a0;
}

nav > ul > li {
	position: relative;
}

nav ul li:hover > ul {
	display: block;
}

nav ul ul {
	display: none;
	font-family: "Nexa Regular", helvetica, sans-serif;
	line-height: 200%;
	margin-left: -3em;
	margin-top: 2em;
	padding: 0 1em;
	position: absolute;
	top: 0;
	width: 9.8em;
}

/*FORMULIER*/

form {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 1em;
	margin: 0 auto 2.7em;
	width: 20em;
}

form p {
	color: #202020;
	font-family: "Nexa Bold", helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0;
	padding: 0 0 0.1em;
}

/*formulieren loginpagina ruimte geven*/

form[action=get]:nth-of-type(1) {
	margin-top: 2em;
}

fieldset {
	border: none;
}

fieldset div {
	display: flex;
	flex-direction: column;

}

legend {
	color: #ff3268;
	font-size: 2em;
	padding: 0.7em 0 0.5em;
	text-align: center;
}

label {
	color: #202020;
	font-size: 1.1em;
	padding: 0 0 0.5em;
}

input[type=text],
input[type=email],
input[type=password],
select {
	border: 1px solid #969696;
	border-radius: 0.3em;
	color: #969696;
	font-family: "Nexa Regular", helvetica, sans-serif;
	font-size: 1.1em;
	margin-bottom: 1.1em;
	padding: 0.4em;
	transition: all .5s;
	width: 94%;
}


select {
	height: 2em;
	width: 50%;
}

#intro label:nth-of-type(2),
#intro label:nth-of-type(3),
select,
input[type=radio],
#intro p {
	display: none;
}

input:hover,
select:hover {
	border: 1px solid #2800a0;
	color: #e6e6e6;
}

input:hover::placeholder {
	color: #e6e6e6;
}

input:focus,
select:focus {
	background-color: #e6e6e6;
	border: 0.5px solid #2800a0;
	color: #969696;
}

input:hover::placeholder {
	color: #e6e6e6;
}

input:invalid {
	border: 2px solid #ff3268;
}

input:focus:valid {
	border: 2px solid #4de298;
}

p label {
	color: #606060;
	font-family: 'Nexa Regular', helvetica, sans-serif;
	font-size: 1em;
	margin-left: 0.4em;
}

input[type=submit] {
	background-color: #ff3268;
	border: none;
	border-radius: 3em;
	box-shadow: 0 0.1875em 0.0625em #ca2b55;
	color: white;
	display: block;
	font-family: "Nexa Bold", helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0.1em auto 0.5em;
	padding: 0.3em 1.6em;
	transition: all .5s;
}

input[type=submit]:hover {
	background-color: #ff658e;
}

input[type=submit]:active {
	box-shadow: 0 -0.1875em 0.0625em #ca2b55;
}

input[type=submit]:valid {
	border: 1px solid #ca2b55;
}

/*SECTIONS*/

/*BUTTONS ONDERAAN SECTION*/

section > footer {
	margin: 3.5em 0 0;
}

section footer a {
	background-color: #ff3268;
	border-radius: 2em;
	box-shadow: 0 0.1875em 0.0625em #ca2b55;
	color: white;
	display: block;
	font-family: "Nexa Bold", helvetica, sans-serif;
	margin: 2em auto;
	padding: 0.6em 1.6em;
	text-align: center;
	width: 6.2em;
}

section footer a:hover {
	background-color: #ff658e;
}

section footer a:active {
	box-shadow: 0 -0.1875em 0.0625em #ca2b55;
}

/*ARTICLES*/

/*scrollbaar maken*/

section div {
	display: flex;
	overflow-x: scroll;
}

/*buttons en links*/

button {
	border-radius: 2rem;
	bottom: 1.2em;
	font-size: 1em;
	padding: 0.55em 0.8em;
	right: 1em;
}

button img {
	margin-right: 0.5em;
	width: 1.1em;
}

article a {
	border-radius: 2em;
	bottom: 1em;
	font-size: 1.1em;
	left: .8em;
	padding: 0.45em 1.6em;
}

article a,
article button {
	background-color: #969696;
	border: none;
	box-shadow: 0 0.1875em 0.0625em #606060;
	color: white;
	position: absolute;
}

article a:hover,
article button:hover {
	background-color: #cccccc;
	color: white;
}

article a:active,
article button:active {
	background-color: #ff3268;
	box-shadow: 0 -0.1875em 0.0625em #120145;
}

/*section ONTDEKKEN*/

section:nth-of-type(2) {
	background-color: #f3e5d8;
	height: 43em;
}

/*titels articles groen*/

section:nth-of-type(2) h3 {
	color: #00d66c;
}

/*sorteerfunctie*/

#sorteren {
	display: flex;
	justify-content: flex-end;
	margin: 1em 1em 2em;

}

#sorteren p {
	font-family: nexabold;
	font-size: 1.2em;
	margin: 0.5em 0.2em 0 1em;
}

#sorteren button {
	background-color: #ffffff;
	border: none;
	box-shadow: none;
	font-family: "Nexa Regular", helvetica, sans-serif;
	font-size: 1em;
	padding: 0.2em 0.5em;
}

#sorteren button:nth-of-type(1) {
	background-color: #969696;
	border-bottom-left-radius: 1.5em;
	border-radius: 0;
	border-top-left-radius: 1.5em;
	color: white;
}

#sorteren button:nth-of-type(1):hover {
	background-color: #adadad;
}

#sorteren button:nth-of-type(1):active,
#sorteren button:nth-of-type(1):focus {
	background-color: #e6e6e6;
	color: #00d66c;
}

#sorteren button:nth-of-type(2) {
	border-bottom-right-radius: 1.5em;
	border-radius: 0;
	border-top-right-radius: 1.5em;
}

#sorteren button:nth-of-type(2):hover {
	background-color: #e6e6e6;
}

#sorteren button:nth-of-type(2):active,
#sorteren button:nth-of-type(2):focus {
	background-color: #e6e6e6;
	color: #00d66c;
}

/*'alle verhalen' button*/

section:nth-of-type(2) footer a {
	background-color: #00d66c;
	box-shadow: 0 0.1875em 0.0625em #1e9162;
}

section:nth-of-type(2) footer a:hover {
	background-color: #4de298;
}

section:nth-of-type(2) footer a:active {
	box-shadow: 0 -0.1875em 0.0625em #1e9162;
}

/*section BUNDELS*/

section:nth-of-type(3) {
	background-color: white;
	height: 47em;
}

section:nth-of-type(3) h2 {
	color: #ff3268;
}

section:nth-of-type(3) article {
	background-color: #f5f8fa;
	height: 28em;
}

article p {
	padding: 0 0.6em;
}

/*FOOTER PAGINA*/

body > footer {
	background-color: #f5f8fa;
	display: flex;
	flex-direction: column;
	margin-top: auto;

}

body > footer a {
	padding: 1em 0 0 1em;
}

body > footer a:hover {
	color: #2800a0;
}

body > footer img {
	margin: 1em auto;
	width: 12em;
}

/*PAGINA ZONDER ACHTERGROND*/

body.no-background {
	background-color: #f3e5d8;
	background-image: none;
	background-size: 100%;
}


/*VERHAALPAGINA*/

#img-verhaal {
	margin-bottom: 1150%;
}

section#img-verhaal img:nth-of-type(2),
section#img-verhaal img:nth-of-type(3) {
	display: none;
}

section#verhaalinfo {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-bottom: 2em;
}

section#verhaalinfo a {
	margin: 1em;
}

section#verhaalinfo h1 {
	color: #ff3268;
	font-size: 3em;
	margin: 0em 1em 0.5em;
	text-align: left;
}

section#verhaalinfo p {
	font-size: 1.4em;
	margin: 0 3.5em;
}

section#verhaalinfo p:after {
	content: url(../images/ster-blauw.png) url(../images/ster-blauw.png) url(../images/ster-blauw.png);
	margin-left: 0.5em;
}

section#verhaalinfo button {
	background-color: #969696;
	border: none;
	border-radius: 2em;
	box-shadow: 0 0.1875em 0.0625em #606060;
	color: white;
	font-size: 1.3em;
	margin: 1.5em auto;
	padding: 0.45em 1em;
}

section#verhaalinfo button:hover {
	background-color: #cccccc;
}

section#verhaalinfo button:active {
	background-color: #ff3268;
	box-shadow: 0 -0.1875em 0.0625em #120145;
}

section#beoordeling {
	background-color: #f3e5d8;
	height: 25em;
	margin: 0 auto;
}

section#beoordeling h2 {
	display: block;
	margin: 0.5em 1em;
	padding: 0.5em 0;
}

section#beoordeling p {
	background-color: #f5f8fa;
	font-size: 2em;
	margin: 1em 12% 1em 12%;
	padding: 0.5em;
}

section#beoordeling p:after {
	content: url(../images/ster-blauw.png) url(../images/ster-blauw.png) url(../images/ster-blauw.png) url(../images/ster-blauw.png) url(../images/ster-blauw.png);
	display: block;
	margin: 0 2em;
}

/*'MIJN VERHALEN', 'DOWNLOADS', 'MIJN LIJSTEN'*/

section.pagina {
	position: relative;
}

section.pagina h1 {
	color: #2800a0;
	margin: 0.5em 0;
	padding-left: 1.4em;
	text-align: left;
}

section.pagina div {
	display: grid;
	grid-template-columns: 1fr;
}


section.pagina article {
	margin: 1em auto;
}

/*MIJN VERHALEN PAGINA*/

/*links 'downloads' en 'mijn lijsten'*/

section.pagina h1 + a,
section.pagina h1 + a + a {
	background-color: #f5f8fa;
	display: block;
	margin-bottom: 0.2em;
	padding: 0.5em 2.3em;
	position: relative;
}

section.pagina h1 + a:after,
section.pagina h1 + a + a:after {
	bottom: 0.12em;
	content: ">";
	font-size: 1.3em;
	position: absolute;
	right: 0.8em;
}

section.pagina p {
	color: black;
	font-family: "Nexa Regular", helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0.9em;
	padding-left: 1.8em;
	transition: all 1s;
}

/*'alles downloaden' knop*/

section.pagina > button {
	background-color: #969696;
	height: 1em;
	left: 16em;
	padding: 1em;
	position: absolute;
	top: 10.55em;
	transition: all 1s;
	width: 1em;
}

section.pagina > button.show {
	background-color: #969696;
	height: 1em;
	left: 18.5em;
	padding: 1em;
	position: absolute;
	top: 10.55em;
}

section.pagina > div#balk {
	background-color: #606060;
	border-radius: 1em;
	height: 1em;
	left: 17em;
	position: absolute;
	top: 11.2em;
	transition: all 1s;
	width: 3.5em;
	z-index: -1;
}

section.pagina div#balk.show {
	background-color: #00d66c;
}

#melding {
	background-color: #00d66c;
	border-radius: 1em;
	height: 1.8em;
	left: 16em;
	opacity: 0;
	position: absolute;
	top: 11em;
	transition: all 1s;
	width: 1.8em;
	z-index: -1;
}

#melding.show {
	left: 9.8em;
	opacity: 1;
	position: absolute;
	top: 4.3em;
	z-index: 1;
}

#melding p {
	color: white;
	margin: 0.2em 0.4em 0 0.4em;
	padding: 0;
}

.dl-knop {
	bottom: 5.5em;
	height: 4em;
	position: absolute;
	right: 1.2em;
	width: 4em;
}


/*favoriet button roze*/

.fav-verhalen button {
	background-color: rgba(255, 50, 104, 0.5);
	box-shadow: 0 0.1875em 0.0625em rgba(255, 50, 104, 0.8);
}

.fav-verhalen button:hover {
	background-color: rgba(255, 50, 104, 0.25);
}

/*RESULTATEN PAGINA*/

section#kies-lijst {
	background-color: #f5f8fa;
	bottom: -16em;
	height: 16em;
	max-width: 30em;
	position: fixed;
	transition: bottom .45s ease-out;
	width: 100%;
}

section#kies-lijst.show {
	bottom: 0em;
}

section#kies-lijst h1 {
	color: #202020;
	font-size: 1.2em;
	margin: 0;
	padding: 0.6em 1.5em;
	text-align: left;
}

section#kies-lijst button {
	background-color: #f5f8fa;
	border: none;
	display: block;
	font-family: "Nexa Regular", helvetica, sans-serif;
}

section#kies-lijst button:first-of-type,
section#kies-lijst a {
	color: #ff3268;
	font-family: "Nexa Bold", helvetica, sans-serif;
	font-size: 1em;
	margin-left: auto;
	margin-right: 1em;
	padding: 1em 1em;
}

section#kies-lijst button:nth-of-type(2),
section#kies-lijst button:last-of-type {
	background-color: white;
	font-size: 1em;
	margin-bottom: 0.5em;
	padding: 1em 20em 0.8em 4em;
}

section#kies-lijst button:nth-of-type(2):before,
section#kies-lijst button:last-of-type:before {
	border: 2px solid #ff3268;
	border-radius: 1em;
	content: " ";
	height: 0.8em;
	left: 2em;
	position: absolute;
	width: 0.8em;
}

section#kies-lijst a {
	left: 4em;
	position: absolute;
}

/*Melding: 'toegevoegd aan lijst'*/

section#toegevoegd-lijst {
	background-color: white;
	bottom: -7em;
	display: flex;
	height: 7em;
	position: fixed;
	transition: bottom .45s ease-out;
}


section#toegevoegd-lijst.show {
	background-color: white;
	bottom: 0;
	display: flex;
	position: fixed;
}

section#toegevoegd-lijst p {
	font-size: 1.1em;
	margin: 1.5em 2em 1em 1.3em;
	max-width: 13em;
}

section#toegevoegd-lijst a {
	color: #ff3268;
	font-family: 'Nexa Bold', helvetica, sans-serif;
	font-size: 1.2em;
	margin: 1.8em 1.5em 0.5em 0.5em;
}

section#toegevoegd-lijst a:hover {
	color: rgba(255, 50, 104, 0.5);
}

/*GRIEKENLAND PAGINA*/

a.terug {
	display: block;
	font-size: 1em;
	margin: 1em 0 0 1em;
}

a.terug:before {
	content: "<";
	font-size: 1.6em;
	padding-right: 0.3em;
}

/*MIJN LIJSTEN PAGINA*/

section.lijst {
	background-color: #f5f8fa;
	height: 11em;
	margin: 1em 0 0.5em;
	position: relative;
}

section.lijst img {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	bottom: 0;
	height: 6em;
	left: 2em;
	position: absolute;
	width: 10em;
}

section.lijst img:nth-of-type(2) {
	left: 13em;
}

section.lijst h2 {
	color: #ff3268;
	font-size: 1.2em;
	margin-left: 1.6em;
}

@media(min-width: 30em) {
	body {
		background-position: -40em 6em;
		background-size: 420%;
	}

	h2 {
		font-size: 3em;
	}

	/*Overzichtspagina: formulier*/
	form {
		max-width: 30em;
		width: 75%;
	}

	#intro label:nth-of-type(2),
	#intro label:nth-of-type(3),
	select,
	input[type=radio],
	#intro p {
		display: inline-block;
	}
}

@media(min-width: 40em) {
	body {
		background-size: 350%;
	}
}

@media(min-width: 45em) {
	/* Header: titels verschijnen*/
	header div a {
		display: flex;
		height: 4em;
		margin-left: 1.5em;
	}

	header div h2 {
		color: #00d66c;
		display: block;
		font-size: 1.1em;
		margin: 0.4em -0.2em 0 0;
		transition: all .5s;
	}

	header div h2:hover {
		color: #5e40b8;
	}

	/*Verhaalpagina: waardering komt naast h1 */
	section#verhaalinfo {
		position: relative;
	}

	section#verhaalinfo button {
		height: 2em;
		position: absolute;
		right: 3em;
		top: 5em;
	}

	section#verhaalinfo h1 {
		font-size: 3.5em;
		margin-bottom: 0;
		padding-bottom: 1em;
	}

	section#verhaalinfo p {
		position: absolute;
		right: 16em;
		top: 6.4em;
	}

	/*Verhaalpagina: formaat Tablet*/
	section#img-verhaal {
		margin-bottom: 830%;
	}

	section#img-verhaal img:nth-of-type(2) {
		display: block;
		left: -12.5em;
		position: absolute;
		width: 150%;
	}

	section#img-verhaal img:nth-of-type(1),
	section#img-verhaal img:nth-of-type(3) {
		display: none;
	}

	section#beoordeling p {
		margin: 1em 28% 1em 28%;
		padding: 0.5em;
	}

	/*Resultatenpagina: responsive articles*/
	section.pagina div {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media(min-width: 50em) {
	body {
		background-position: 0 2em;
		background-size: 270%;
	}

	/*Footer items gaan naast elkaar staan*/
	body > footer {
		flex-direction: row;
		height: 7em;
		position: relative;
	}

	body > footer a {
		margin-left: 2em;
		margin-top: 0.5em;
	}

	body > footer > img {
		bottom: 1em;
		position: absolute;
		right: 2em;
	}

	/*Overzichtspagina: h1*/
	#intro h1 {
		font-size: 2.5em;
	}
}

@media(min-width: 60em) {
	body {
		background-size: 230%;
	}

	/*Verhaalpagina: formaat Desktop*/
	section#img-verhaal {
		margin-bottom: 630%;
	}

	section#img-verhaal img:nth-of-type(3) {
		display: block;
		left: -12.5em;
		position: absolute;
		width: 130%;
	}

	section#img-verhaal img:nth-of-type(1),
	section#img-verhaal img:nth-of-type(2) {
		display: none;
	}
}

@media(min-width: 65em) {
	body {
		background-size: 200%;
	}

	/*Formulieren groeien mee met schermbreedte*/
	form {
		max-width: 35em;
		width: 50%;
	}

	/*Overzichtspagina: De h1 komt naast het formulier*/
	body section#intro {
		display: flex;
		margin: 3em 10%;
	}

	body section#intro h1 {
		font-size: 3.5em;
		margin-right: 4%;
		margin-top: -0.001em;
		text-align: left;
		width: 40%;
	}

	/* Loginpagina: de twee formulieren op het loginscherm komen naast elkaar*/
	header + div {
		display: flex;
		margin: 3em 5%;
	}

	header + div form {
		width: 45%;
	}

	/*Resultatenpagina: responsive articles*/
	section.pagina div {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media(min-width: 70em) {
	/*Overzichtspagina: Het sorteermechanisme komt naast de header bij section: ontdekken*/
	section#ontdekken {
		height: 89em;
		position: relative;
	}

	section:nth-of-type(2) h2 {
		margin-bottom: 0.8em;
	}

	div#sorteren {
		position: absolute;
		right: 1em;
		top: 2em;
	}

	/* responsive maken artikelen 3-koloms-grid*/
	section div:nth-of-type(2) {
		display: grid;
		grid-gap: 5em;
		grid-template-columns: 25% 25% 25%;
		margin: 0 7%;
	}

	section:nth-of-type(3) div {
		display: grid;
		grid-gap: 5em;
		grid-template-columns: 25% 25% 25%;
		margin: 0 7%;
	}

	section:nth-of-type(3) {
		height: 81em;
	}

	/*Verhaalpagina*/
	section#verhaalinfo {
		position: relative;
	}

	section#verhaalinfo button {
		position: absolute;
		right: 10em;
		top: 3em;
	}

	section#verhaalinfo p {
		position: absolute;
		right: 21em;
		top: 4.5em;
	}

	section#verhaalinfo h1 {
		font-size: 4em;
		padding-bottom: 1em;
	}
}

@media(min-width: 78em) {
	body {
		background-size: 160%;
	}

	/*Overzichtspagina: groene deel header schuift naar boven*/
	header {
		position: relative;
	}

	header nav {
		left: 22%;
		position: absolute;
		top: 38%;
		width: 45%;
	}

	header nav > ul {
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
	}

	/*Resultaten pagina: responsive articles*/
	section.pagina div {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media(min-width: 78em) {
	/*Overzichtspagina: responsive maken artikelen 4-koloms-grid*/
	section div:nth-of-type(2) {
		grid-gap: 5em;
		grid-template-columns: 18.5% 18.5% 18.5% 18.5%;
	}

	section#ontdekken {
		height: 65em;
	}

	section:nth-of-type(3) {
		height: 48.5em;
	}

	section:nth-of-type(3) div {
		grid-gap: 4em;
		grid-template-columns: 19% 19% 19% 19%;
		margin: 0;
	}

	section div:nth-of-type(2) {
		margin: 0 auto;
		max-width: 90em;
	}

	section#sorteren {
		margin-right: 4%;
	}

	#grid {
		margin: 0 auto;
		max-width: 90em;
	}

}

@media(min-width: 84em) {
	body {
		background-position: 0 4em;
		background-size: 130%;
	}

	/*Overzichtspagina: h1*/
	body section:nth-of-type(1) h1 {
		font-size: 3.5em;
	}

	/*Mijn verhalen pagina*/
	section.pagina > button {
		left: 14.5em;
		top: 13.3em;
	}

	section.pagina > button.show {
		left: 16.6em;
		top: 13.3em;
	}

	section.pagina > div#balk {
		left: 15em;
		top: 13.9em;
	}

	#melding.show {
		left: 9.8em;
		opacity: 1;
		position: absolute;
		top: 7.45em;
		z-index: 1;
	}
}
